{% extends "./users/layout.html" %}
{%load static%}
{% block" body %}
<div id="sigupwrapper" class="container">
   <form class="" action="" method="get" accept-charset="utf-8">
      <div>
         <label for="Fullname">Full Name</label>
      </div>
      <div class="">
         <input type="text/submit/hidden/button/image" name="Fullname" id="" value="" />
      </div>
      <div>
         <label for="Fullname">Password</label>
      </div>
      <div class="">
         <input type="text/submit/hidden/button/image" name="Fullname" id="" value="" />
      </div>
      <div>
         <label for="Fullname">Comfirm Password</label>
      </div>
      <div class="">
         <input type="text/submit/hidden/button/image" name="Fullname" id="" value="" />
      </div>
   </form>
</div>
{% endblock %}